{% extends 'base.html' %}
{%load socialaccount %}
{% providers_media_js %}
{% block contents %}
<div class="container">
<h2>로그인</h2>
<form method = "POST" action="{%url 'login'%}">
    {% csrf_token %}

    Username:
    <br>
    <input name="username" type="text" value="">
    <br>
    Password:
    <br>
    <input name="password" type="password" value="">
    <br>
    <br>
    <button type="sumit" class="btn btn-dark">로그인</button>
</form>
<a href = "{% provider_login_url 'google' %}">구글로 로그인</a>
</div>
{% endblock %}